@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.remove-overflow {
  overflow-x: visible;
}

body {
  padding-top: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat Alternates, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:hover {
  color: inherit;
}

header.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100vw;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header.header-container #burger-icon {
  display: none;
  background-image: url(../assets/icons/burger_icon.svg);
  cursor: pointer;
  width: 40px;
  height: 40px;
}

header.header-container .link {
  position: relative;
  overflow: visible;
}

header.header-container .link:after {
  content: "";
  position: absolute;
  overflow-x: visible;
  left: 0;
  bottom: -7px;
  height: 4px;
  background-color: black;
  width: 0;
  border-radius: 2px;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

header.header-container .link:hover:after, header.header-container .link:focus:after, header.header-container .link:active:after {
  width: 100%;
}

.links-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 15px;
  background-color: white;
  top: 100%;
  left: 0;
  text-align: center;
  -webkit-transition-duration: 0.4s ease-in-out;
          transition-duration: 0.4s ease-in-out;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.links-mobile .link {
  font-size: 22px;
  line-height: 30px;
}

.links-mobile.hidden {
  top: -220px;
}

.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.title-container {
  padding: 10vw 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: bottom;
}

.title-container .title {
  color: white;
  overflow: visible;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 78px;
  text-align: center;
  margin: 0 5rem;
}

.img {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[class*="container"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subtitle-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3rem;
}

.subtitle-container p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0 15px;
}

.subtitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

.item-container {
  position: relative;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 45px 45px 0 45px;
  overflow: visible;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.item-container .link {
  margin-top: 25px;
}

.item-container a.img {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.item-container a.img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (min-width: 1000px) and (max-width: 1240px) {
  .item-container:nth-child(4)::after {
    display: none;
  }
}

@media only screen and (min-width: 735px) and (max-width: 1000px) {
  .item-container:nth-child(3)::after {
    display: none;
  }
}

@media only screen and (min-width: 550px) and (max-width: 735px) {
  .item-container:nth-child(2)::after, .item-container:nth-child(4)::after {
    display: none;
  }
}

@media only screen and (min-width: 510px) and (max-width: 550px) {
  .item-container:nth-child(2)::after, .item-container:nth-child(3)::after {
    display: none;
  }
}

@media only screen and (max-width: 510px) {
  .item-container:nth-child(2)::after, .item-container:nth-child(3)::after, .item-container:nth-child(4)::after {
    display: none;
  }
}

.item-container::after {
  content: "";
  display: block;
  position: absolute;
  overflow-x: visible;
  top: 0;
  right: -45px;
  width: 2px;
  height: 200px;
  background-color: #f4e1ff;
}

@media only screen and (max-width: 445px) {
  .item-container::after {
    display: none;
  }
}

.item-container:last-of-type::after {
  display: none;
}

.card-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.button {
  padding: 10px 20px;
  color: white;
  border: 3px solid white;
  border-radius: 25px;
  background-color: #ee83ba;
  font-weight: bold;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.button:hover {
  background-color: #d35d9a;
}

a.button:active {
  background-color: #b33174;
}

a.button.transparent {
  color: black;
  border-color: black;
  background-color: rgba(0, 0, 0, 0);
}

a.button.transparent:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a.button.transparent:active {
  background-color: rgba(0, 0, 0, 0.05);
}

a.button.transparent.white {
  color: white;
  border-color: white;
}

a.button.transparent.white:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

a.button.transparent.white:active {
  background-color: rgba(255, 255, 255, 0.25);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 23.125%;
  margin: 0 15px 30px 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1030px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}

.card .description h3 {
  text-align: center;
  margin-top: 12px;
}

.card .description p {
  margin: 8px 15px 10px 15px;
}

.card .buy-container {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 11px 15px;
}

.card .buy-container p {
  font-weight: 600;
  font-size: 18px;
}

footer {
  padding: 35px 225px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 30px;
}

footer div {
  min-width: 155px;
}

footer span {
  font-weight: 600;
}

.social {
  width: 38px;
  height: 38px;
  margin: 10px 8px 0 8px;
  border-radius: 25px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.social:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slogan {
  padding: 60px 0;
  text-align: center;
}

.slogan .title {
  font-weight: 600;
  font-size: 56px;
}

@media screen and (max-width: 1020px) {
  .slogan .title {
    font-size: 6vw !important;
    line-height: 9vw !important;
    margin: 0 50px;
  }
}

.slogan .subtitle {
  font-weight: 500;
  font-size: 40px;
}

.two-column-container p {
  font-size: 14px;
  margin: 50px;
}

.about-container {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.about-container * {
  overflow-x: visible;
}

.about-container .title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
}

.about-container .card-img {
  height: 30rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: white;
}

.about-container .name-on-img {
  position: relative;
  top: -7rem;
}

.about-container .name-on-img p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  background-color: #ee83ba;
}

.about-container .name-on-img p span {
  font-size: 20px;
}

.about-container .description p {
  margin-bottom: 15px;
  margin-top: -40px;
}

.bold {
  font-weight: 600;
}

.slider-container {
  height: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.slider-container .img,
.slider-container a.slider-arrow {
  margin: 0 10px;
}

.slider-container .img {
  width: 250px;
  height: 250px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 2px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.slider-container .img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slider-arrow {
  width: 50px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.slider-arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider-arrow:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slider-arrow img {
  width: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.slider-arrow.right img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rounded-container {
  border-radius: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card.unborded {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.card.unborded .rounded-container {
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(188, 46, 255, 0.25);
          box-shadow: 0px 4px 4px rgba(188, 46, 255, 0.25);
}

.square-container {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}

.square-container .img {
  position: absolute;
  width: 100%;
  vertical-align: top;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.square-container.icon {
  width: 35%;
  padding-top: 35%;
}

.footer-logo {
  background-image: url(../assets/icons/logo-with-big-text.svg);
  width: 258px;
  height: 167px;
  min-width: 258px;
  margin: 10px 10px 0 15px;
}

@media only screen and (max-width: 620px) {
  .footer-logo {
    height: 90px;
    min-width: 140px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  header .img {
    margin: 0 15px;
  }
  header > .link {
    display: none;
  }
  #burger-icon {
    display: block !important;
  }
  .side-img {
    display: none;
  }
  .adaptive-flex-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adaptive-flex-left .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 85%;
  }
  .adaptive-flex-left .card .square-container.icon {
    width: 55%;
    padding-top: 30%;
  }
  .adaptive-flex-left .card .description {
    display: block;
  }
  .about-container .card {
    width: 40%;
  }
  .title-container .title {
    font-size: 9vw;
  }
}

@media only screen and (max-width: 510px) {
  .two-column-container .subtitle,
  .two-column-container p {
    margin: 1rem 2rem !important;
  }
  .square-container.icon {
    width: 55%;
    padding-top: 30%;
  }
  .footer-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-socials .social {
    margin: 5px 1.5rem;
  }
  .about-container .card {
    width: 80%;
  }
  .subtitle-container {
    padding: 2rem;
  }
  .reduce-font-size {
    font-size: 10px;
  }
  .reduce-font-size.title {
    font-size: 10vw;
    line-height: 18vw;
  }
  .reduce-font-size.subtitle {
    font-size: 30px;
    line-height: 40px;
  }
  .reduce-font-size.subtitle.more {
    font-size: 14px;
    line-height: 20px;
  }
  .reduce-font-size.contacts {
    font-size: 14px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 400px) {
  .square-container.icon {
    display: none;
  }
  footer {
    padding: 2rem;
  }
}

@media only screen and (max-width: 350px) {
  footer > .contacts {
    margin-left: 4rem;
  }
  .footer-logo {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */